# Bin edges for k start with linear spacing: K0 + LinearKBinWidth * n, where n =[0, NumberOfLinearBins].
# Then continues with log spacing: K_edgde[NumberOfLinearBins] * 10^(Log10KBinWidth * n) 
# Parameters for k binning are:

K0 0.

NumberOfLinearBins 3
NumberOfLog10Bins 2

LinearKBinWidth 7E-4
Log10KBinWidth 0.5

# Redshift bins are linearly spaced.

FirstRedshiftBinCenter 1.8
RedshiftBinWidth 0.2
NumberOfRedshiftBins 2

# The location of the file list, and the directory where those files live:
FileNameList ./tests/input/flist.txt
FileInputDir ./tests/input/

# The directory for output files and file name base:
OutputDir ./tests/output/
LookUpTableDir ./tests/output/
OutputFileBase test

# List of spectograph resolutions and pixel spacings (R [int], dv [double]) is in `FileNameRList`. This file starts with number of lines.
FileNameRList     ./tests/input/slist.txt

# Lookup tables are generated with the following parameters:
NumberVPoints     1401
NumberZPoints     10
VelocityLength    14000.0

# When testing outside of Lya region, turn off fiducial matrix by 1
TurnOffBaseline   0

# You can smooth lnk, lnP instead of k, P for better behaviour.
SmoothLnkLnP      0

# Fiducial power can be a tabulated file
# FiducialPowerFile ./my_fiducial_estiamte.dat

# Fiducial Palanque fit function parameters
FiducialAmplitude            0.06
FiducialSlope               -2.6
FiducialCurvature           -0.1
FiducialRedshiftPower        1
FiducialRedshiftCurvature    0
FiducialLorentzianLambda     0

# Use true mean flux
# MeanFluxFile ./true_mean_flux.dat
# To use chunks mean flux, set this to 1
# UseChunksMeanFlux 0
# To not convert, set this to 1
InputIsDeltaFlux 1

# Specify continuum marginalization order. Pass <=0 to turn off.
ContinuumLogLambdaMargOrder  -1
ContinuumLambdaMargOrder -1

# These lookup tables are saved with the follwoing file name bases to LookUpTableDir:
SignalLookUpTableBase        signal
DerivativeSLookUpTableBase   deriv

# The maximum number of iterations are
NumberOfIterations 1

AllocatedMemoryMB 110.
TemporaryFolder ./tests/output

