.DS_Store
*.o
*.log
backup/
build-aux/
dep/
wiki/
tests/output/*
tests/input/deriv*
tests/input/signal*
tests/input/*log*.txt
tests/input/*_Fp.bin
LyaPowerEstimate
LyaPowerxQmlExposure
LyaPower3DEstimate
CreateSQLookUpTable
lyspeqBootStats
cblas_tests
testPointRef
testSQCMatrices
myfitsread
test-fftconvolve
testBootstrapTime
testReadingBootRealizations
testOMPTiming
timeMatrixOps
TODO
Makefile
config.status
